<div class="fullPage">
    <div class="flex">
        <div class="logoClub" [style.--borderColor]="choixClubPlayer.couleur"><img [src]="choixClubPlayer.logo" alt="logo"></div>
        <div class="terrain">
            <div class="groupeJoueur">
                <div class="poste">GARDIEN</div>
                <div class="gk placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">DEFENSEUR</div>
                <div class="def placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">DEFENSEUR</div>
                <div class="def placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">MILIEU</div>
                <div class="mil placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">MILIEU</div>
                <div class="mil placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">BUTEUR</div>
                <div class="bu placeJoueur"></div>
            </div>
        </div>
    </div>
    <div class="choixposte">GARDIEN</div>
    <div class="choixPlayer flex" >
        <div *ngFor="let gk of choixDeuxGK">
            <div class="carteJoueur" (click)="choixPlayerGK(gk)" [ngClass]="{'active' : (choixGK.nom === gk.nom)}">
                <div class="imageJoueur"><img src="{{gk.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{gk.prenom}} {{gk.nom}}</div>
                <div class="nationAge">{{gk.nationalite}} / {{gk.age}} ans</div>
            </div>
        </div>
        <button (click)="validerGK()">Valider votre gardien</button>
    </div>
    <div class="debuterPartie">
        <button (click)="debuter()">Valider votre équipe</button>
    </div>
</div>