<div class="fullPage">
    <div class="flex">
        <div class="logoClub" [style.--borderColor]="choixClubPlayer.couleur"><img [src]="choixClubPlayer.logo" alt="logo"></div>
        <div class="terrain">
            <div class="groupeJoueur">
                <div class="poste">GARDIEN</div>
                <div class="gk placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">DEFENSEUR</div>
                <div class="def placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">DEFENSEUR</div>
                <div class="def placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">MILIEU</div>
                <div class="mil placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">MILIEU</div>
                <div class="mil placeJoueur"></div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">BUTEUR</div>
                <div class="bu placeJoueur"></div>
            </div>
        </div>
    </div>
    <div>Choix du gardien : </div>
    <div class="choixPlayer" >
        <div *ngFor="let gk of choixDeuxGK"> {{gk.nom}}</div>
    </div>
    <div class="debuterPartie">
        <button (click)="debuter()">Valider votre équipe</button>
    </div>
</div>