<div class="fullPage">
    <div class="flex">
        <div class="logoClub" [style.--borderColor]="choixClubPlayer.couleur"><img [src]="choixClubPlayer.logo"
                alt="logo"></div>
        <div class="terrain">
            <div class="groupeJoueur">
                <div class="poste">GARDIEN</div>
                <div class="gk placeJoueur">
                    <div class="carteChoixJoueur"><img src="{{choixGK.image || './assets/img/persos/default.png'}}"
                            alt="" class="imgChoixJoueur">
                        <div class="choixNomJoueur">{{choixGK.prenom}}</div>
                        <div class="choixNomJoueur">{{choixGK.nom}}</div>
                    </div>
                </div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">DEFENSEUR</div>
                <div class="def placeJoueur">
                    <div class="carteChoixJoueur"><img src="{{choixDEF1.image || './assets/img/persos/default.png'}}"
                        alt="" class="imgChoixJoueur">
                    <div class="choixNomJoueur">{{choixDEF1.prenom}}</div>
                    <div class="choixNomJoueur">{{choixDEF1.nom}}</div>
                </div>
                </div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">DEFENSEUR</div>
                <div class="def placeJoueur">
                    <div class="carteChoixJoueur"><img src="{{choixDEF2.image || './assets/img/persos/default.png'}}"
                        alt="" class="imgChoixJoueur">
                    <div class="choixNomJoueur">{{choixDEF2.prenom}}</div>
                    <div class="choixNomJoueur">{{choixDEF2.nom}}</div>
                </div>
                </div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">MILIEU</div>
                <div class="mil placeJoueur">
                    <div class="carteChoixJoueur"><img src="{{choixMIL1.image || './assets/img/persos/default.png'}}"
                        alt="" class="imgChoixJoueur">
                    <div class="choixNomJoueur">{{choixMIL1.prenom}}</div>
                    <div class="choixNomJoueur">{{choixMIL1.nom}}</div>
                </div>
                </div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">MILIEU</div>
                <div class="mil placeJoueur">
                    <div class="carteChoixJoueur"><img src="{{choixMIL2.image || './assets/img/persos/default.png'}}"
                        alt="" class="imgChoixJoueur">
                    <div class="choixNomJoueur">{{choixMIL2.prenom}}</div>
                    <div class="choixNomJoueur">{{choixMIL2.nom}}</div>
                </div>
                </div>
            </div>
            <div class="groupeJoueur">
                <div class="poste">BUTEUR</div>
                <div class="bu placeJoueur">
                    <div class="carteChoixJoueur"><img src="{{choixBU.image || './assets/img/persos/default.png'}}"
                        alt="" class="imgChoixJoueur">
                    <div class="choixNomJoueur">{{choixBU.prenom}}</div>
                    <div class="choixNomJoueur">{{choixBU.nom}}</div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="choixposte" *ngIf="validerChoixGK==false">GARDIEN</div>
    <div class="choixPlayer flex" *ngIf="validerChoixGK==false">
        <div *ngFor="let gk of choixDeuxGK">
            <div class="carteJoueur" (click)="choixPlayerGK(gk)" [ngClass]="{'active' : (choixGK.nom === gk.nom)}">
                <div class="imageJoueur"><img src="{{gk.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{gk.prenom}} {{gk.nom}}</div>
                <div class="nationAge">{{gk.nationalite}} / {{gk.age}} ans</div>
            </div>
        </div>
        <button (click)="validerGK()">Valider votre gardien</button>
    </div>
    <div class="choixposte" *ngIf="validerChoixDEF1==false">DEFENSEUR</div>
    <div class="choixPlayer flex" *ngIf="validerChoixDEF1==false">
        <div *ngFor="let def of choixQuatreDEF1">
            <div class="carteJoueur" (click)="choixPlayerDEF1(def)" [ngClass]="{'active' : (choixDEF1.nom === def.nom)}">
                <div class="imageJoueur"><img src="{{def.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{def.prenom}} {{def.nom}}</div>
                <div class="nationAge">{{def.nationalite}} / {{def.age}} ans</div>
            </div>
        </div>
        <button (click)="validerDEF1()">Valider votre défenseur</button>
    </div>
    
    <div class="choixposte" *ngIf="validerChoixDEF2==false">DEFENSEUR</div>
    <div class="choixPlayer flex" *ngIf="validerChoixDEF2==false">
        <div *ngFor="let def of choixQuatreDEF2">
            <div class="carteJoueur" (click)="choixPlayerDEF2(def)" [ngClass]="{'active' : (choixDEF2.nom === def.nom)}">
                <div class="imageJoueur"><img src="{{def.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{def.prenom}} {{def.nom}}</div>
                <div class="nationAge">{{def.nationalite}} / {{def.age}} ans</div>
            </div>
        </div>
        <button (click)="validerDEF2()">Valider votre défenseur</button>
    </div>

    <div class="choixposte" *ngIf="validerChoixMIL1==false">MILIEU</div>
    <div class="choixPlayer flex" *ngIf="validerChoixMIL1==false">
        <div *ngFor="let mil of choixQuatreMIL1">
            <div class="carteJoueur" (click)="choixPlayerMIL1(mil)" [ngClass]="{'active' : (choixMIL1.nom === mil.nom)}">
                <div class="imageJoueur"><img src="{{mil.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{mil.prenom}} {{mil.nom}}</div>
                <div class="nationAge">{{mil.nationalite}} / {{mil.age}} ans</div>
            </div>
        </div>
        <button (click)="validerMIL1()">Valider votre milieu</button>
    </div>

    <div class="choixposte" *ngIf="validerChoixMIL2==false">MILIEU</div>
    <div class="choixPlayer flex" *ngIf="validerChoixMIL2==false">
        <div *ngFor="let mil of choixQuatreMIL2">
            <div class="carteJoueur" (click)="choixPlayerMIL2(mil)" [ngClass]="{'active' : (choixMIL2.nom === mil.nom)}">
                <div class="imageJoueur"><img src="{{mil.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{mil.prenom}} {{mil.nom}}</div>
                <div class="nationAge">{{mil.nationalite}} / {{mil.age}} ans</div>
            </div>
        </div>
        <button (click)="validerMIL2()">Valider votre milieu</button>
    </div>

    <div class="choixposte" *ngIf="validerChoixBU==false">BUTEUR</div>
    <div class="choixPlayer flex" *ngIf="validerChoixBU==false">
        <div *ngFor="let bu of choixDeuxBU">
            <div class="carteJoueur" (click)="choixPlayerBU(bu)" [ngClass]="{'active' : (choixBU.nom === bu.nom)}">
                <div class="imageJoueur"><img src="{{bu.image}}" alt="imageJoueur" class="imgJoueur"></div>
                <div class="nomJoueur">{{bu.prenom}} {{bu.nom}}</div>
                <div class="nationAge">{{bu.nationalite}} / {{bu.age}} ans</div>
            </div>
        </div>
        <button (click)="validerBU()">Valider votre buteur</button>
    </div>

    <div class="debuterPartie" *ngIf="validerEquipe==true">
        <button (click)="debuter()">Valider votre équipe</button>
    </div>
</div>