.fullPage{
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(109.6deg, rgb(15, 12, 42) 11.2%, rgb(11, 132, 145) 91.1%);
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "MavenPro";

}

@font-face {
    font-family: "MavenPro";
    src: url("src\assets\MavenPro-VariableFont_wght.ttf");
    
}   
h1{
     text-align: center;
     padding-top: 100px;
     font-family: "MavenPro";
     color: white;
     font-size: 8vh;
     width: 60%;
     margin: auto;
}
h2 {
    text-align: center;
    font-weight: bolder;
    color: black;
    border-bottom: 1px solid var(--borderColor);
}

.liste{
    margin-top: 50px;
    max-width : 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.carteClub{
    border: 5px solid var(--borderColor);
    border-radius: 20px;
    height: 400px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.781);
    color: black;
    margin: 20px;

}

.carteClub:hover{
    border: 5px solid var(--borderColor);
    border-radius: 20px;
    height: 400px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.89);
    color: black;
    margin: 20px;
    

}
.illustrationClub {

    height: 200px;
    width: 200px;
    margin: auto;

}
img{
    height: 200px;
    width: 200px;
}
ul{
    padding: 5px;
    list-style: none;
    margin: 10px;
    border: 1px solid var(--borderColor);
}
li{
    margin-bottom: 2px;
}
.barre{
    border: 1px solid black;
    width: 100px;
}
.flexBarre {
    display: flex;
    justify-content: space-between;
}
.pourcentage {
    border-right: var(--borderColor);
    background-color: var(--borderColor);
}
