@font-face {
    font-family: "MavenPro";
    src: url("src\assets\MavenPro-VariableFont_wght.ttf");
    
}   
h1{
     font-family: "MavenPro";
     color: white;
     font-size: 12vh;
}

button {
    margin: auto;
    position: center;
}

.flexRow{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

img {
width: 20%;
height: 20%;
animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

.fullPage{
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(109.6deg, rgb(15, 12, 42) 11.2%, rgb(11, 132, 145) 91.1%);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.debuterPartie{
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
button{
    background-color: initial;
    background-image: linear-gradient(#f8a814 0, #9e5e05 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "MavenPro";
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    margin-left: -4px;
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    width: 190px;
}

button:hover {
  opacity: .7;
}


@media screen and (max-width: 1000px) {
  .button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}
